@charset "UTF-8";

html, body {
	heigth: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	height: 300px;
	padding: 2rem;
	
	background-image: url(../img/wood.jpg);
	background-repeat: no-repeat;
	background-size : cover;
	
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0px;
	color: #fff;
}

nav.main-nav ul {
	display: flex;
	list-style: none;
	background-color: goldenrod;
	color: #fff;
}

nav.main-nav li:nth-child(2), nav.main-nav li:nth-child(3) {
	margin-left: auto;
}

nav.main-nav li:hover {
	background-color: #ccc;
	color: black;
}

nav.main-nav li {
	cursor: pointer;
	padding: 0.5rem;
	vertical-align: middle;
}

table.hosp-list {
	border-collapse: collapse;
	border-spacing: 0;
	width: 90%;
	border: 1px solid #ccc;
	margin: 20px auto;
}

table.hosp-list th {
	text-align: left;
}

table.hosp-list tr {
	border: 1px solid #ddd;
}

table.hosp-list tbody tr {
	cursor: pointer;
}

table.hosp-list tbody tr:nth-child(even) {
	background-color: #ccc;
}

table.hosp-list tbody tr:nth-child(odd) {
	background-color: #fff;
}

table.hosp-list tbody tr:hover {
	background-color: #ddd;
}

table.hosp-list td, table.hosp-list th {
	padding: 8px;
	vertical-align: top;
	white-space: nowrap; /* table의 text를 줄바꿈 하지 않기!*/
}

nav.main-nav input, nav.main-nav select {
	width: 200px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

section.main-body {
	display: flex;
}

article.station-list,
article.busstop-list {
	flex:1 50%;
	margin:5px 2px;
}